$color8:#888888;
$colorc8:#c8c8c8;
$coloree:#eeeeee;
$colore4:#e4e4e4;
$black:#333333;
$red:#a51e32;
#center{
    padding: 0.8rem 0;
    .selectBoxOut{
        margin-top: 0.6rem;
        overflow-x: scroll;
        .selectBox{
            .selectChild{
                margin-right: 2px;
                button{
                    width: 100%;
                    display: block;
                    height: 0.7rem;
                    background-color: #eeeeee;
                    border: 1px solid #c8c8c8;
                    color: #888888;
                }
                .selectActive{
                    background-color: $red;
                    color: white;
                    border-color: $red;
                }
            }
            .selectChild:nth-last-child(2){
                margin-right: 0;
            }
            
        }
    }
    .roomlist{
        padding: 0.6rem 0;
        .roomChild{
            display: block;
            .clLeft{
                width: 38%;
                img{
                    width: 100%;
                }
            }
            .clRight{
                width: 57%;
                margin-left: 4%;
                .clTitle{
                    font-size: 0.28rem;
                    color: $black;
                }
                .clContent{
                    font-size: 0.26rem;
                    color: $color8;
                }
            }
        }
    }
}
.searchBox {
    width: 100%;
    border: 1px solid $colorc8;
    height: 0.8rem;
    margin-left: -1px;
    background: url(../img/search.png) no-repeat 0.2rem center;
    background-size: auto 0.32rem;
    overflow: hidden;
    margin-bottom: 0.6rem;
    input {
        display: block;
        width: 85%;
        border: 0;
        height: 100%;
        margin-left: 12%;
        margin-top: 1px;
        color: $black;
    }
}
