body {
  background-color: white; }

#contact {
  padding: 0.8rem 0 0.6rem; }
  #contact .threePart .titles {
    margin-bottom: 0.6rem; }
  #contact .threePart ul li:nth-child(2) .tpBox {
    background-color: white; }
  #contact .threePart ul li:nth-child(1) .tpBox .tpLeft .tpImg {
    background-image: url(../img/message.png); }
  #contact .threePart ul li:nth-child(3) .tpBox .tpLeft .tpImg {
    background-image: url(../img/onlineContact.png); }
  #contact .tpBox {
    padding: 0.5rem 0;
    background-color: #f6f6f6;
    position: relative; }
    #contact .tpBox .hand {
      position: absolute;
      width: 0.5rem;
      top: 110%;
      left: 50%;
      margin-left: -0.25rem;
      z-index: 5;
      animation: 0.8s hand linear infinite; }
    #contact .tpBox .tpLeft {
      width: 25%; }
      #contact .tpBox .tpLeft .tpImg {
        height: 0.5rem;
        background: url(../img/serverPhone0.png) no-repeat center center;
        background-size: auto 100%; }
      #contact .tpBox .tpLeft .tpp {
        margin-top: 0.2rem;
        font-size: 0.28rem;
        line-height: 0.3rem;
        text-align: center;
        color: #333333; }
    #contact .tpBox .tpRight {
      width: 70%; }
      #contact .tpBox .tpRight span {
        display: block;
        width: 0.6rem;
        margin-top: 0.05rem;
        margin-bottom: 0.15rem;
        border-bottom: 1px solid #a51e32; }
      #contact .tpBox .tpRight p {
        font-size: 0.26rem;
        line-height: 0.45rem;
        color: #888888; }
        #contact .tpBox .tpRight p a {
          display: inline-block;
          color: #a51e32;
          position: relative; }
        #contact .tpBox .tpRight p a::after {
          content: "";
          position: absolute;
          bottom: 0.05rem;
          left: 0px;
          width: 100%;
          border-bottom: 1px solid #a51e32; }
      #contact .tpBox .tpRight button {
        margin-top: 0.1rem;
        display: block;
        font-size: 0.28rem;
        color: #a51e32;
        padding: 0.1rem 0.2rem;
        border: 1px solid #c8c8c8;
        background-color: transparent; }

@keyframes hand {
  from {
    top: 90%;
    opacity: 1; }
  to {
    top: 50%;
    opacity: 0; } }
@-moz-keyframes hand {
  from {
    top: 90%;
    opacity: 1; }
  to {
    top: 50%;
    opacity: 0; } }
@-webkit-keyframes hand {
  from {
    top: 90%;
    opacity: 1; }
  to {
    top: 50%;
    opacity: 0; } }
@-ms-keyframes hand {
  from {
    top: 90%;
    opacity: 1; }
  to {
    top: 50%;
    opacity: 0; } }
#mapBox .titles {
  padding: 0.8rem 0 0.6rem 0; }
#mapBox #companyMap {
  width: 100%;
  height: 4.02rem; }
#mapBox .messageBox {
  width: 100%; }
  #mapBox .messageBox ul {
    width: 94%;
    margin: 0 auto;
    margin-top: 0.2rem;
    padding: 0.2rem 0;
    border-bottom: 1px solid #e3e3e3; }
    #mapBox .messageBox ul li {
      background: url(../img/cicon01.png) no-repeat 0.12rem center;
      background-size: auto 0.28rem; }
    #mapBox .messageBox ul li:nth-child(2) {
      background-image: url(../img/cicon02.png); }
    #mapBox .messageBox ul li:nth-child(3) {
      background-image: url(../img/cicon03.png);
      background-size: auto 0.24rem; }
    #mapBox .messageBox ul li:nth-child(4) {
      background-image: url(../img/cicon04.png);
      background-size: auto 0.26rem; }
    #mapBox .messageBox ul li:nth-child(5) {
      background-image: url(../img/cicon05.png);
      background-position-x: 0.22rem; }
    #mapBox .messageBox ul p {
      font-size: 0.24rem;
      line-height: 0.6rem;
      color: #333333;
      margin-left: 0.5rem; }
    #mapBox .messageBox ul a {
      display: inline-block;
      color: #333333;
      margin-right: 0.1rem; }
  #mapBox .messageBox ul:nth-child(2) {
    margin-top: 0rem;
    border: 0;
    padding-bottom: 0; }

#popWinJoin {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  overflow: hidden; }
  #popWinJoin .jobPop {
    position: relative; }
    #popWinJoin .jobPop > img {
      width: 100%; }
    #popWinJoin .jobPop .redClose {
      width: 0.32rem;
      position: absolute;
      top: 0.6rem;
      right: 10%;
      z-index: 5; }
      #popWinJoin .jobPop .redClose img {
        width: 100%; }
    #popWinJoin .jobPop .getJob {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      #popWinJoin .jobPop .getJob .titles {
        margin-top: 0.8rem;
        margin-bottom: 0.4rem; }
      #popWinJoin .jobPop .getJob .joberMessage ul li {
        width: 75%;
        margin: 0 auto;
        height: 0.8rem;
        border: 1px solid #c8c8c8;
        margin-top: 0.2rem;
        background: url(../img/JobPhone.png) no-repeat 0.2rem center;
        background-size: auto 0.3rem;
        overflow: hidden; }
        #popWinJoin .jobPop .getJob .joberMessage ul li input {
          width: 80%;
          height: 100%;
          border: 0;
          display: block;
          color: #333333;
          margin-left: 15%;
          margin-top: 1px;
          font-size: 0.28rem; }
        #popWinJoin .jobPop .getJob .joberMessage ul li input::-moz-placeholder {
          color: #888888;
          font-size: 0.28rem; }
        #popWinJoin .jobPop .getJob .joberMessage ul li input::-ms-input-placeholder {
          color: #888888;
          font-size: 0.28rem; }
        #popWinJoin .jobPop .getJob .joberMessage ul li input::-webkit-input-placeholder {
          color: #888888;
          font-size: 0.28rem; }
      #popWinJoin .jobPop .getJob .joberMessage ul li:nth-child(1) {
        background-image: url(../img/name.png); }
      #popWinJoin .jobPop .getJob .joberMessage ul li:nth-child(3) {
        position: relative;
        background-image: url(../img/addressPng.png); }
        #popWinJoin .jobPop .getJob .joberMessage ul li:nth-child(3) img {
          position: absolute;
          top: 0.3rem;
          right: 0.2rem;
          height: 0.3rem; }
      #popWinJoin .jobPop .getJob .joinType ul li {
        width: 75%;
        margin: 0 auto; }
        #popWinJoin .jobPop .getJob .joinType ul li p {
          width: 80%;
          margin-left: 10%;
          font-size: 0.28rem;
          line-height: 0.5rem;
          color: #888888;
          margin-bottom: 0.1rem; }
        #popWinJoin .jobPop .getJob .joinType ul li .typeBox {
          margin-bottom: 0.4rem; }
          #popWinJoin .jobPop .getJob .joinType ul li .typeBox .floatl {
            width: 23.5%;
            margin-right: 2%; }
            #popWinJoin .jobPop .getJob .joinType ul li .typeBox .floatl button {
              width: 100%;
              font-size: 0.26rem;
              height: 0.7rem;
              background-color: #eeeeee;
              border: 1px solid #c8c8c8;
              color: #888888; }
            #popWinJoin .jobPop .getJob .joinType ul li .typeBox .floatl .tyBtn {
              background-color: #a51e32;
              color: white;
              border-color: #a51e32; }
          #popWinJoin .jobPop .getJob .joinType ul li .typeBox .floatl:nth-last-child(2) {
            margin-right: 0%; }
      #popWinJoin .jobPop .getJob .joinType ul li:nth-child(1) {
        background: url(../img/type.png) no-repeat left center;
        background-size: auto 0.3rem; }
      #popWinJoin .jobPop .getJob .submitBtn {
        width: 75%;
        margin: 0 auto;
        border: 1px solid #a51e32;
        margin-top: 0.45rem; }
        #popWinJoin .jobPop .getJob .submitBtn button {
          border: 1px solid #a51e32; }

/*# sourceMappingURL=contact.css.map */
