$color8:#888888;
$colorc8:#c8c8c8;
$coloree:#eeeeee;
$colore4:#e4e4e4;
$black:#333333;
$red:#a51e32;
#fourChoice{
    margin-top: 1px;
    .floatl{
        width: 24.5%;
        margin-right: 0.65%;
        button{
            width: 100%;
            display: block;
            height: 0.7rem;
            background-color: $coloree;
            border: 1px solid $colorc8;
            color: $color8;
            font-size: 0.26rem;
        }
        .fbtn{
            background-color: $red;
            color: white;
            border-color: $red;
        }
    }
    .floatl:nth-last-child(2){
        margin-right: 0%;
    }
}
#press{
    padding: 0.6rem 0 0.8rem;
    .pressBox{
        border:1px solid $colorc8;
        margin-bottom: 0.4rem;
        .pressImg{
            width: 90%;
            margin: 0 auto;
            margin-top: 0.3rem;
            position: relative;
            >img{
                width: 100%;
            }
            .cross{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               display: -webkit-flex;
               -webkit-align-items: center;
               -webkit-justify-content: center;
               -webkit-flex-direction: column;
                img{
                   width: 0.4rem; 
                }
            }
        }
        .pressTitle{
            font-size: 0.3rem;
            text-align: center;
            line-height: 0.5rem;
            color: $black;
            margin-top: 0.25rem;
            p{
                width: 90%;
                margin: 0 auto;
            }
        }
        .pressMessage{
            color: $color8;
            text-align: center;
            font-size: 0.26rem;
            line-height: 0.5rem;
            margin-bottom: 0.2rem;
            p{
                width: 90%;
                margin: 0 auto;
            }
        }
    }
    .pressBox:nth-last-child(1){
        margin-bottom: 0;
    }
}
#details{
    position: fixed;
    top: 0%;
    left:100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
    z-index: 5;
    nav{
        background-color: #f6f6f6;
        box-shadow: 0 0 2px 2px rgba(51,51,51,0.1);
        position: relative;
    }
    .paper{
        padding: 0.4rem 0 0.6rem;
        .choice2{
            padding-bottom: 0;
        }
    }
    .paperBox{
        position: relative;
        .handbox{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
            img{
                width: 0.8rem;
            }
        }
        >img{
           width: 100%; 
        }
        
    }
    
}
    
.choice2{
        margin-top: 0.4rem;
        padding-bottom: 0.6rem;
        >.flr{
            width: 48%;
            position: relative;
            border: 1px solid $colorc8;
            background-color: $coloree;
            >p{
                line-height: 0.8rem;
                font-size: 0.28rem;
                color: $black;
                text-indent: 0.28rem;
                background: url(../img/rArrow.png) no-repeat 92% center;
                background-size: auto 0.34rem; 
            }
            button{
                display: block;
                height: 0.8rem;
                font-size: 0.28rem;
                color: $color8;
                background-size: auto 0.34rem;
                width: 100%;
                background-color: $coloree;
            }
            >select{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 2;
            }
        }
        >.floatl{
            margin-left: -1px;
            button{
                background-color: white;
            }  
        }
        >.floatr{
            margin-right: -1px;
        }
    }
#videoCenter{
    padding: 0.6rem 0 0.8rem;
    .vcBox{
        border:1px solid $colorc8;
        margin-bottom: 0.4rem;
        .vcImg{
            width: 90%;
            margin: 0 auto;
            margin-top: 0.3rem;
            position: relative;
            overflow: hidden;
            height: 3.6rem;
            iframe{
                width: 100%;
                height: 100%;
            }
        }
        .vcTitle{
            font-size: 0.3rem;
            text-align: center;
            line-height: 0.5rem;
            color: $black;
            margin-top: 0.25rem;
            p{
                width: 90%;
                margin: 0 auto;
            }
        }
        .vcMessage{
            color: $color8;
            text-align: center;
            font-size: 0.26rem;
            line-height: 0.5rem;
            margin-bottom: 0.2rem;
            p{
                width: 90%;
                margin: 0 auto;
            }
        }
    }
    .vcBox:nth-last-child(1){
        margin-bottom: 0;
    }
}
#media,#company{
    padding: 0.8rem 0;
    .mediaBox{
        width: 100%;
        padding: 0.4rem 0;
        box-shadow: 0 0 2px 2px rgba(231,231,231,0.5);
        margin-bottom: 0.4rem;
    }
    .mBLeft{
        width: 20%;
        p{
            text-align: right;
        }
        .mpTitle{
            color: $black;
            font-size: 0.3rem;
            margin-top: 0.2rem;
        }
        .mpContent{
            color: $color8;
            font-size: 0.24rem;
        }
    }
    .mBRight{
        width: 70%;
        margin-left: 5%;
        .mrTitle{
            font-size: 0.28rem;
            text-align: center;
            color: $red;
            margin-bottom: 0.15rem;
        }
        .mrContent{
            font-size: 0.24rem;
            color: $color8;
            line-height: 0.36rem;
        }
    }
}
#NewDetails,#companyDetails{
    position: fixed;
    top: 0%;
    left:100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
    z-index: 5;
    nav{
        background-color: #f6f6f6;
        box-shadow: 0 0 2px 2px rgba(51,51,51,0.1);
        position: relative;
    }
    .newTop{
        padding: 0.4rem 0 0.3rem;
        border-bottom: 1px solid $colorc8;
        ul li:nth-child(1){
            font-size: 0.32rem;
            line-height: 0.5rem;
            font-weight: bold;
        }
        ul li:nth-child(2){
            font-size: 0.24rem;
            line-height: 0.5rem;
            font-weight: bold;
            p{
                color: $color8;
                span:nth-child(1){
                    text-indent: 0.35rem;
                    display: inline-block;
                    background: url(../img/newsTime.png) no-repeat 0rem 0.13rem;
                    background-size: auto 0.22rem;
                }
                span:nth-child(2){
                    text-indent: 0.62rem;
                    display: inline-block;
                    background: url(../img/eye.png) no-repeat 0.2rem 0.16rem;
                    background-size: auto 0.16rem;
                }
            }
        }
    }
    .newContent{
        border-bottom: 1px solid $colorc8;
        p{
            padding: 0.3rem 0;
            font-size: 0.26rem;
            color: $color8;
            line-height: 0.5rem;
        }
        img{
            width: 100%;
            padding:  0.2rem 0;
        }
    }
    .label{
        .flabel{
            margin-top: 0.4rem;
            width: 15%;
            font-size: 0.28rem;
            line-height: 0.5rem;
            color: $color8;
            margin-left: 2%;
        }
        .fp{
            width: 80%;
            a{
                margin-top: 0.4rem;
                float: left;
                display: block;
                line-height: 0.5rem;
                padding: 0 0.2rem ;
                border-radius: 10px;
                border: 1px solid $colorc8;
                color: $color8;
                font-size: 0.24rem;
                margin-right: 0.1rem;
            }
        }
    }
    .share{
        .flshare{
            margin-top: 0.3rem;
            width: 15%;
            font-size: 0.28rem;
            line-height: 0.5rem;
            color: $color8;
            margin-left: 2%;
        }
        .frshare{
            width: 80%;
            margin-top: 0.3rem;
            a{
                float: left;
                width: 0.5rem;
                height: 0.5rem;
                overflow: hidden;
                border-radius: 50%;
                background: url(../img/sharem.png) no-repeat left center;
                background-size: auto 100%;
            }
         }
    }
}