$color8:#888888;
$colorc8:#c8c8c8;
$coloree:#eeeeee;
$colore4:#e4e4e4;
$black:#333333;
$red:#a51e32;

#companyJob{
    padding: 0.8rem 0;
    .choice2{
        margin-top: 0.4rem;
       
        >.flr{
            width: 48%;
            position: relative;
            border: 1px solid $colorc8;
            background-color: $coloree;
            >p{
                line-height: 0.8rem;
                font-size: 0.28rem;
                color: $black;
                text-indent: 0.28rem;
                background: url(../img/rArrow.png) no-repeat 92% center;
                background-size: auto 0.3rem; 
            }
            button{
                display: block;
                height: 0.8rem;
                font-size: 0.28rem;
                color: $color8;
                background-size: auto 0.34rem;
                width: 100%;
                background-color: $coloree;
            }
            >select{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 2;
            }
        }
        >.floatl{
            margin-left: -1px;
            button{
                background-color: white;
            }  
        }
        >.floatr{
            margin-right: -1px;
        }
    }
    .pn{
        margin-top: 0.8rem;
    }
    .searchBox {
        width: 100%;
        border: 1px solid $colorc8;
        height: 0.8rem;
        margin-left: -1px;
        background: url(../img/search.png) no-repeat 0.2rem center;
        background-size: auto 0.32rem;
        overflow: hidden;
        position: relative;
        margin-top: 0.2rem;
        input {
            display: block;
            width: 72%;//72
            border: 0;
            height: 100%;
            margin-left: 12%;
            margin-top: 1px;
            color: $black;
            font-size: 0.26rem;
        }
        .closeSearch{
            display: none;
            position: absolute;
            top: 0.1rem;
            right: 15%;
            width: 0.6rem;
            height: 0.6rem;
            img{
               width: 40%;
               margin: 30%; 
            }
            
        }
        .findBtn{
            position: absolute;
            top: 0;
            padding: 0 0.2rem 0 0;
            right: 0.1rem;
            line-height: 0.8rem;
            font-size: 0.28rem;
            color: $red;
        }
    }
    .joinBox{
        width: 100%;
        background-color: #f6f6f6;
        margin-top: 0.4rem;
        .joinTop{
            width: 92.96%;
            margin: 0 auto;
            padding: 0.3rem 0;
            border-bottom: 1px solid $colorc8;
            position: relative;
            
            .jobNameE{
                font-size: 0.24rem;
                text-indent: 0.2rem;
                color: $color8;
            }
            .applyBtn{
                width: 1.4rem;
                position: absolute;
                top: 0.38rem;
                right: 0.2rem;
                button{
                    width: 100%;
                    height: 0.8rem;
                    display: block;
                    font-size: 0.3rem;
                    border: 1px solid $color8;
                    background-color: transparent;
                }
                .activeBtn{
                    background-color: $red;
                    color: white;
                    border-color: $red;
                }
            }
        }
        
    }
    
}
.jobName {
    font-size: 0.36rem;
    color: $black;
    text-indent: 0.2rem;
}
.joinBottom {
    width: 92.96%;
    margin: 0 auto;
    >.floatl {
        width: 40%;
        font-size: 0.26rem;
        color: $color8;
        line-height: 0.8rem;
        p {
            text-indent: 0.4rem;
            background: url(../img/person.png) no-repeat 0.1rem 0.27rem;
            background-size: auto 0.24rem;
        }
    }
    >.floatl:nth-child(1) {
        width: 20%;
        p {
            background-image: url(../img/person.png);
            background-size: auto 0.22rem;
        }
    }
    >.floatl:nth-child(2) {
        p {
            background-image: url(../img/address.png);
            background-size: auto 0.24rem;
        }
    }
    >.floatl:nth-child(3) {
        p {
            background-image: url(../img/time.png);
            background-size: auto 0.22rem;
        }
    }
}
#jobDetails{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
    z-index: 5;
    .jobName{
        text-indent: 0.4rem;
    }
    nav{
        background-color: #f6f6f6;
        box-shadow: 0 0 2px 2px rgba(51,51,51,0.1);
        position: relative;
    }
    .jdTop{
        padding-top: 0.6rem;
        border-bottom: 1px solid $colorc8;
        padding-bottom: 0.1rem;
    }
    .jdContent{
        
        font-size: 0.28rem;
        color: $black;
        line-height: 0.6rem;
        padding: 0.4rem 0;
        border-bottom: 1px solid $colorc8;
        ul{
            width: 91.55%;
            margin: 0 auto;
        }
        .jobTitle{
            font-size: 0.32rem;
        }
    }
    .jdBottom{
        border: 0;
    }
    .applyBox{
        width: 55%;
        margin: 0 auto;
        padding: 0.2rem 0 0.6rem;
        button{
            height: 0.8rem;
        }
    }
}
#jobPop{
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(0,0,0,0.5);
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    overflow: hidden;
    .jobPop{
        position: relative;
        >img{
            width: 100%;
        }
        .redClose{
            width:0.32rem;
            position: absolute;
            top: 0.6rem;
            right: 10%;
            z-index: 5;
            img{
                width: 100%;
            }
        }
        .getJob{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .titles{
                margin-top: 0.8rem;
                margin-bottom: 0.4rem;
            }
            .joberMessage{
                ul li{
                    width: 75%;
                    margin: 0 auto;
                    height: 0.8rem;
                    border: 1px solid $colorc8;
                    margin-top: 0.2rem;
                    background: url(../img/JobPhone.png) no-repeat 0.2rem center;
                    background-size: auto 0.3rem;
                    overflow: hidden;
                    input{
                        width: 80%;
                        height: 100%;
                        border: 0;
                        display: block;
                        color: $black;
                        margin-left: 15%;
                        margin-top: 1px;
                        font-size: 0.26rem;
                    }
                    input::-moz-placeholder{
                        color: $color8;
                    }
                    input::-ms-input-placeholder{
                        color: $color8;
                    }
                    input::-webkit-input-placeholder{
                        color: $color8;
                    }
                    
                }
                ul li:nth-child(1){
                    background-image: url(../img/name.png);
                }
                ul li:nth-child(3){
                    height: 2rem;
                    background-image: none;
                    textarea{
                        width: 92%;
                        resize: none;
                        height: 1.6rem;
                        padding: 0.22rem 0 0.18rem;
                        line-height: 0.4rem;
                        border: 0;
                        display: block;
                        margin: 0 auto;
                        font-size: 0.26rem;
                    }
                    textarea::-moz-placeholder{
                        color: $color8;
                    }
                    textarea::-ms-input-placeholder{
                        color: $color8;
                    }
                    textarea::-webkit-input-placeholder{
                        color: $color8;
                    }
                }
            }
            .selectFile{
                width: 75%;
                margin: 0 auto;
                line-height: 1.0rem;
                color: $color8;
                font-size: 0.26rem;
                position: relative;
                margin-top: 0.05rem;
                .filesrc{
                    width: 40%;
                    margin-left: 60%;
                    height: 1.0rem;
                    line-height: 1.0rem;
                    color: $black;
                }
                .fliep{
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: $black;
                }
                button{
                    display: block;
                    position: absolute;
                    top: 0.15rem;
                    left: 1.2rem;
                    width: 1.4rem;
                    height: 0.7rem;
                    font-size: 0.26rem;
                    background-color: $coloree;
                    border: 1px solid $colorc8;
                    .file{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }
                }
            }
            .submitBtn{
                width: 75%;
                margin: 0 auto;
            }
        }
    }
}
