*{
    font-family: "微软雅黑";
}
$blue:#4473b7;
$sblue:#9be2f9;
.nullDiv{
    height: 4.6rem;
    width: 100%;
}
body{
    background-color: $sblue;
}
#message{
    width: 100%;
    .message{
        border: 1px solid $blue;
        background-color: white;
    }
    ul li{
        width: 87%;
        margin: 0 auto;
        height: 0.7rem;
        border-radius: 5px;
        border: 1px solid $blue;
        position: relative;
        overflow: hidden;
        background: url(../img/bluePerson.png) no-repeat 4% 0.23rem;
        background-size: auto 0.24rem; 
        margin-bottom: 0.2rem;
        p{
            font-size: 0.24rem;
            color: $blue;
            position: absolute;
            top: 0;
            left: 4%;
            line-height: 0.7rem;
            text-indent: 0.4rem;
        }
        input{
            width: 54%;
            height: 100%;
            margin-left: 35.5%;
            display: block;
            border: 0px;
            font-size: 0.24rem;
            
        }
        button{
            display: block;
            width: 100%;
            height: 100%;
            font-size: 0.26rem;
            color: white;
            background-color: $blue;
        }
        
    }
    .mImg{
        width: 100%;
        margin-bottom: 0.5rem;
        >img{
            width: 100%;
        }
    }
    ul li:nth-last-child(1){
        margin-bottom: 0px;
    }
    ul li.blueBtn{
        border-radius: 0;
    }
    ul li.addBorder{
        margin-bottom: 0.3rem;
    }
    .mTips{
        p{
            font-size: 0.18rem;
            text-align: center;
            color: #888888;
            line-height: 0.8rem;
        }
    }
}
.cityselect-nav > a.crt{
    color: $blue;
}
.cityselect-nav > a.crt:after {
    background-color: $blue;
}
.cityselect-item-box > a.crt{
    color: $blue;
}
.banner{
    width: 100%;
    padding-top: 0.9rem;
    >img{
        width: 100%;
    }
}
.tBox{
    width: 100%;
    >img{
        width: 100%;
    }
}
#part01{
    margin-top: 0.8rem;
}
.swiperBtn{
    width: 97.33%;
    margin-left: 2.67%;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    margin-top: 0.2rem;
    .swiperBox{
        
        .sBtn{
            width: 2.4rem;
            margin-right: 0.3rem;
            position: relative;
            .pBox{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                display: -webkit-flex;
                -webkit-align-items: center;
                -webkit-justify-content: center;
                -webkit-flex-direction: column;
                p{
                    font-size: 0.3rem;
                    color: #7bd5f2;
                    margin: -0.02rem  0 0 -0.02rem;
                }
            }
            
            input{
                display: block;
                width: 100%;
            }
        }
        .sBtn:nth-child(1){
            .pBox{
                p{
                    color: white;
                }
            }
        }
        .sBtn:nth-last-child(2){
            margin-right: 0;
        }
    }
}
.ptOneTitle{
    margin: 0.2rem auto 0.3rem;
    ul li:nth-child(1){
        text-align: center;
        font-size: 0.38rem;
        line-height: 0.7rem;
        color: $blue;
        font-weight: bold;
    }
    ul li:nth-child(2){
        width: 20%;
        margin: 0 auto;
        margin-bottom: 0.2rem;
        p{
            width: 100%;
            height: 1px;
            background-color: $blue;
        }
        span{
            display: block;
            width: 50%;
            margin-left: 50%;
            height: 1px;
            background-color: #ff7499;
        }
    }
    ul li:nth-child(3){
        width: 87.88%;
        margin: 0 auto;
        text-align: justify;
        font-size: 0.24rem;
        line-height: 0.4rem;
        color: $blue;
        font-weight: bold;
    }
}
.ptoIn{
    width: 100%;
    padding: 0.1rem;
    background-color: #7bd5f2;
    position: relative;
    >img{
        width: 100%;
    }
    .ptop{
        position: absolute;
        top: 0.1rem;
        left: 0;
        width: 28%;
        >img{
            width: 100%;
        }
        >div{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
            p{
                font-size: 0.26rem;
                color: white;
                width: 100%;
                text-indent: 0.2rem;
            }
        }
    }
}
.ptoBottom{
    padding: 0.25rem 0;
    background-color: #7bd5f2;
    .ptoThree{
        width: 12.67%;
        margin-left: 4.2%;
        >img{
            width: 100%;
        }
        
    }
    .floatr{
        width: 39%;
        margin-right: 2.1%;
        a{
            width: 100%;
            display: block;
            >img{
                width: 100%;
            }
        }
    }
}
.pwBox{
    .pwParam{
        table{
            width: 100%;
            tr:nth-child(1){
                td:nth-child(1){
                    width: 15%;
                    text-align: center;
                }
                td:nth-child(2){
                    width: 33%;
                    text-align: center;
                }
                td:nth-child(3){
                    width: 52%;
                    text-indent: 0.4rem;
                }
            }
            tr:nth-child(2),tr:nth-child(3){
                td:nth-child(1){
                    text-align: center;
                }
                td:nth-child(2){
                    text-indent: 0.4rem;
                }
                
            }
        }
        td{
            border: 1px solid $blue;
            line-height: 0.6rem;
            font-size: 0.24rem;
            color: $blue;
        }
    }
}
#company{
    .cTitle{
        width: 100%;
        >img{
            width: 100%;
        }
    }
    .cTop{
        margin-bottom: 0.4rem;
        .ctImg{
            width: 100%;
            padding: 0.1rem;
            background-color: #7bd5f2;
            >img{
                width: 100%;
            }
        }
        .ctContent{
            width: 100%;
            padding: 0.3rem;
            background-color: white;
            .ctcIn{
                border: 1px solid #9be2f9;
                p{
                    padding: 0.2rem 0;
                    width: 86%;
                    margin: 0 auto;
                    text-align: justify;
                    font-size: 0.26rem;
                    color: #333333;
                    line-height: 0.46rem;
                }
            }
        }
    }
}
.pwlrBox{
    position: relative;
    margin-top: 0.1rem;
    .pwLeft{
        width: 60.6%;
        position: relative;
        >img{
            width: 100%;
        }
        .pwlp{
            width: 46.05%;
            position: absolute;
            left: -0.08rem;
            top: 0;
            >img{
                width: 100%;
            }
            >div{
                position: absolute;
                top: 0;
                left: 0rem;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                display: -webkit-flex;
                -webkit-align-items: center;
                -webkit-justify-content: center;
                -webkit-flex-direction: column;
               >p{
                    font-size: 0.26rem;
                    color: white;
                    width: 100%;
                    text-indent: 0.2rem;
               }
            }
        }
    }
    .pwRight{
        position: absolute;
        top: 0;
        left: 60.6%;
        width: 39.4%;
        height: 100%;
        >div{
            width: 100%;
            height: 100%;
            padding: 0.1rem;  
            background-color: white;
            >div{
               border: 1px solid #9be2f9 ;
               width: 100%;
               height: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               display: -webkit-flex;
               -webkit-align-items: center;
               -webkit-justify-content: center;
               -webkit-flex-direction: column;
               ul li:nth-child(1){
                   font-size: 0.22rem;
                   color: #90b7f2;
                   text-align: center;
               } 
               ul li:nth-child(2){
                   font-size: 0.26rem;
                   color: #f85386;
                   text-align: center;
                   span{
                       font-size: 0.5rem;
                   }
               } 
               a{
                   width:60%;
                   margin: 0 auto;
                   display: block;
                   >img{
                       width: 100%;
                   }
               }
            }
        }
    }
}
#part02{
    .ptwoTitle{
        width: 100%;
        >img{
            width: 100%;
        }
    }
    .swiper-pagination-bullet{
        opacity: 1;
        background: #f2ede7;
    }
    .swiper-pagination-bullet-active{
        background: #f85185;
    }
    .ptwoBottom{
        margin-top: 0.2rem;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .ptbBox{
        img{
            width: 100%;
        }
        
        >.floatl{
            position: relative;
            >div{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.4);
                opacity: 0;
            }
        }
        >.showf{
            >div{
                opacity: 1;
            }
        }
        .floatl:nth-last-child(2){
            margin-right: 0!important;
        }
    }
    .more{
        margin: 0.5rem 0;
        a{
            width: 42%;
            margin-left: 4%;
            display: block;
            >img{
                width: 100%;
            }
        }
        a:nth-child(2){
            margin-left: 8%;
        }
    }
    .ptt{
        width: 100%;
        padding: 0.1rem;
        background-color: #7bd5f2;
        position: relative;
        >img{
            width: 100%;
        }
        .pttIn{
            position: absolute;
            top: 0.1rem;
            left: 0.02rem;
            width: 28%;
            >img{
                width: 100%;
            }
            >div{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                display: -webkit-flex;
                -webkit-align-items: center;
                -webkit-justify-content: center;
                -webkit-flex-direction: column;
                p{
                    font-size: 0.24rem;
                    color: white;
                    width: 100%;
                    text-indent: 0.2rem;
                }
            }
        }
    }
    .boxBox{
        width: 100%;
        padding: 0.2rem;
        background-color: white;
        .ptt .pttIn{
            width: 38%;
            top: 0rem;
            left: -0.08rem;
        }
    }
    .boxContent{
        margin-top: 0.2rem;
        border: 1px solid #a3e8ff;
        ul li:nth-child(1){
            font-size: 0.36rem;
            color: $blue;
            font-weight: bold;
            text-align: center;
            line-height: 0.7rem;
            margin-top: 0.2rem;
        }
        ul li:nth-child(2){
            width: 1rem;
            margin: 0 auto;
            height: 1px;
            background: $blue;
            p{
                margin-left: 50%;
                width: 50%;
                height: 100%;
                background: #ff7499;
            }
        }
        ul li:nth-child(3){
            text-align: center;
            margin-top: 0.2rem;
            p{
               color: #90b7f2; 
               font-size: 0.24rem;
               span{
                   font-size: 0.28rem;
                   color: #f85386;
               }
               span:nth-child(2){
                   font-size: 0.6rem;
                   font-weight: bold;
               }
            }
        }
        a{
            width: 38.6%;
            margin: 0.4rem auto;
            display: block;
            img{
                width: 100%;    
            }
        }
    }
}
