@charset "UTF-8";
* {
  font-family: "微软雅黑"; }

.nullDiv {
  height: 4.6rem;
  width: 100%; }

body {
  background-color: #9be2f9; }

#message {
  width: 100%; }
  #message .message {
    border: 1px solid #4473b7;
    background-color: white; }
  #message ul li {
    width: 87%;
    margin: 0 auto;
    height: 0.7rem;
    border-radius: 5px;
    border: 1px solid #4473b7;
    position: relative;
    overflow: hidden;
    background: url(../img/bluePerson.png) no-repeat 4% 0.23rem;
    background-size: auto 0.24rem;
    margin-bottom: 0.2rem; }
    #message ul li p {
      font-size: 0.24rem;
      color: #4473b7;
      position: absolute;
      top: 0;
      left: 4%;
      line-height: 0.7rem;
      text-indent: 0.4rem; }
    #message ul li input {
      width: 54%;
      height: 100%;
      margin-left: 35.5%;
      display: block;
      border: 0px;
      font-size: 0.24rem; }
    #message ul li button {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 0.26rem;
      color: white;
      background-color: #4473b7; }
  #message .mImg {
    width: 100%;
    margin-bottom: 0.5rem; }
    #message .mImg > img {
      width: 100%; }
  #message ul li:nth-last-child(1) {
    margin-bottom: 0px; }
  #message ul li.blueBtn {
    border-radius: 0; }
  #message ul li.addBorder {
    margin-bottom: 0.3rem; }
  #message .mTips p {
    font-size: 0.18rem;
    text-align: center;
    color: #888888;
    line-height: 0.8rem; }

.cityselect-nav > a.crt {
  color: #4473b7; }

.cityselect-nav > a.crt:after {
  background-color: #4473b7; }

.cityselect-item-box > a.crt {
  color: #4473b7; }

.banner {
  width: 100%;
  padding-top: 0.9rem; }
  .banner > img {
    width: 100%; }

.tBox {
  width: 100%; }
  .tBox > img {
    width: 100%; }

#part01 {
  margin-top: 0.8rem; }

.swiperBtn {
  width: 97.33%;
  margin-left: 2.67%;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  margin-top: 0.2rem; }
  .swiperBtn .swiperBox .sBtn {
    width: 2.4rem;
    margin-right: 0.3rem;
    position: relative; }
    .swiperBtn .swiperBox .sBtn .pBox {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      -webkit-flex-direction: column; }
      .swiperBtn .swiperBox .sBtn .pBox p {
        font-size: 0.3rem;
        color: #7bd5f2;
        margin: -0.02rem  0 0 -0.02rem; }
    .swiperBtn .swiperBox .sBtn input {
      display: block;
      width: 100%; }
  .swiperBtn .swiperBox .sBtn:nth-child(1) .pBox p {
    color: white; }
  .swiperBtn .swiperBox .sBtn:nth-last-child(2) {
    margin-right: 0; }

.ptOneTitle {
  margin: 0.2rem auto 0.3rem; }
  .ptOneTitle ul li:nth-child(1) {
    text-align: center;
    font-size: 0.38rem;
    line-height: 0.7rem;
    color: #4473b7;
    font-weight: bold; }
  .ptOneTitle ul li:nth-child(2) {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 0.2rem; }
    .ptOneTitle ul li:nth-child(2) p {
      width: 100%;
      height: 1px;
      background-color: #4473b7; }
    .ptOneTitle ul li:nth-child(2) span {
      display: block;
      width: 50%;
      margin-left: 50%;
      height: 1px;
      background-color: #ff7499; }
  .ptOneTitle ul li:nth-child(3) {
    width: 87.88%;
    margin: 0 auto;
    text-align: justify;
    font-size: 0.24rem;
    line-height: 0.4rem;
    color: #4473b7;
    font-weight: bold; }

.ptoIn {
  width: 100%;
  padding: 0.1rem;
  background-color: #7bd5f2;
  position: relative; }
  .ptoIn > img {
    width: 100%; }
  .ptoIn .ptop {
    position: absolute;
    top: 0.1rem;
    left: 0;
    width: 28%; }
    .ptoIn .ptop > img {
      width: 100%; }
    .ptoIn .ptop > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      -webkit-flex-direction: column; }
      .ptoIn .ptop > div p {
        font-size: 0.26rem;
        color: white;
        width: 100%;
        text-indent: 0.2rem; }

.ptoBottom {
  padding: 0.25rem 0;
  background-color: #7bd5f2; }
  .ptoBottom .ptoThree {
    width: 12.67%;
    margin-left: 4.2%; }
    .ptoBottom .ptoThree > img {
      width: 100%; }
  .ptoBottom .floatr {
    width: 39%;
    margin-right: 2.1%; }
    .ptoBottom .floatr a {
      width: 100%;
      display: block; }
      .ptoBottom .floatr a > img {
        width: 100%; }

/*# sourceMappingURL=subject.css.map */
